<ul class="nav">

  <li class="nav-item">
    <a class="nav-link" routerLink="/">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/place">Place</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/posts">My posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/register">register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin">Admin</a>
  </li>
</ul>
<div class="container">


  <br>
  <br>
  <br>
  <!-- used to insert the component matched by routes to be displayed on the screen. -->
  <router-outlet>

  </router-outlet>
</div>
